body{
    margin: 0;
    padding: 0;
    background-color: blanchedalmond;
}
.pinky,a{
    display: block;
}
#cont{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
form{
    background-color: aquamarine;
    width: 25%;
    border-radius: 5px;
    padding: 20px;
}
form h2{
    text-align: center;
    text-transform: uppercase;
    color: black;
}
form label{
color: olive;
font-size: 20px;
}
form .paisa{
    width:100% ;
    height: 30px;
    border: none;
    border-radius: 5px;
}
#btn{
    /* display: inline;
    justify-content: space-between;  */
   
}
button{
    /* width: 30px; */
    font-size: 16px;
    padding: 10px 20px;
    margin: 10px;
    background-color: red;
    border: none;
    border-radius: 5px;
    color: white;
    /* gap: 40px; */

}#cancel{
    background-color: green;
    
}
form a{
    text-decoration: none;
    color: rgb(156, 6, 6);
}